.eduMonth {
  padding: 150px 0 50px 0;
  background-color: var(--color-mb);
  color: var(--color-wh);
}

.eduMonth a {
  color: white;
}

.eduMonth h2 {
  text-align: center;
}
.eduMonth h2 strong {
  color: var(--color-wh);
}

.calendarArea {
  padding: 50px 0;
  position: relative;
}

.eduMonth .year {
  position: relative;
  text-align: center;
}
.eduMonth .year > * {
  display: block;
}
.eduMonth .year strong {
  font-family: "gmarketsansbold";
  font-size: 40px;
  line-height: 1.2;
}
.eduMonth .year span {
  font-family: "gmarketsansmedium";
  font-size: 14px;
}
.eduMonth .year button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #a4d8ff;
}
.eduMonth .year .prev {
  left: -20px;
  transform: rotate(180deg) translateY(50%);
}
.eduMonth .year .next {
  right: -20px;
}

.eduMonth .calendarArea,
.eduMonth .day {
  display: flex;
  justify-content: space-between;
}
.eduMonth .calendarArea {
  gap: 50px;
  color: #a4d8ff;
}
.eduMonth .day {
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
.eduMonth .day li {
  position: relative;
  cursor: pointer;
  min-width: 17px;
  border-bottom: 1px solid #a4d8ff;
  text-align: center;
}
.eduMonth .day li.on {
  font-family: "gmarketsansbold";
  color: var(--color-wh);
}
.eduMonth .day li::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  opacity: 0;
  transition: 0.3s;
}
.eduMonth .day li:hover::before,
.eduMonth .day li.on::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.eduSlide {
  width: calc(100% + 100px);
  left: -50px;
  padding: 50px 0 100px 0;
}

.eduSlide .swiper-slide.swiper-slide-active {
  width: 25vw;
}
.eduSlide .swiper-slide {
  width: 20vw;
}

.eduSlide .card {
  position: relative;
  padding-top: 130%;
  overflow: hidden;
}
.eduSlide .card > * {
  position: absolute;
  top: 0;
}
.eduSlide .card .img {
  width: 100%;
  height: calc(100% - 100px);
  background-size: cover;
  background-position: center;
  border-radius: var(--gap);
  overflow: hidden;
  transition: 0.3s;
}
.eduSlide .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.eduSlide .info {
  top: auto;
  bottom: 0;
  height: calc(100px - 2rem);
  line-height: 1.6;
}
.eduSlide .info > strong {
  display: block;
  font-size: 20px;
}

.eduSlide .card .more3,
.eduSlide .card .desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.eduSlide .card .desc {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  opacity: 0;
  transition: 0.3s;
  height: calc(100% - 100px);
  font-size: 20px;
  line-height: 1.6;
}
.eduSlide .card .desc > * {
  width: 100%;
}
.eduSlide .card .desc span:first-of-type {
  width: auto;
  margin-bottom: 1rem;
  border: 1px solid white;
  border-radius: 50px;
  padding: 0.2rem 1rem;
}
.eduSlide .card .desc strong {
  font-family: "GmarketSansMedium";
  font-size: 25px;
  margin-bottom: 1rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
}

.eduSlide .swiper-slide-active .img,
.eduSlide .swiper-slide:hover .img {
  height: 100%;
}
.eduSlide .swiper-slide-active .info,
.eduSlide .swiper-slide:hover .info {
  opacity: 0;
}
.eduSlide .swiper-slide-active .desc,
.eduSlide .swiper-slide:hover .desc {
  opacity: 1;
  left: 0;
  height: 100%;
}

.eduSlide .card .more3 {
  z-index: 10;
  color: transparent;
}

@media (max-width: 1200px) {
  .eduMonth .calendarArea {
    display: none;
  }
  .eduSlide .swiper-slide.swiper-slide-active,
  .eduSlide .swiper-slide {
    width: 35vw;
  }
  .eduSlide .desc {
    font-size: 1rem !important;
  }
}
@media (max-width: 800px) {
  .eduMonth {
    padding: 50px 0 50px 0;
  }

  .eduSlide .swiper-slide.swiper-slide-active,
  .eduSlide .swiper-slide {
    width: 60vw;
  }
  .eduSlide .desc {
    display: none !important;
  }
  .eduSlide .img {
    height: calc(100% - 100px) !important;
  }
  .eduSlide .info {
    opacity: 1 !important;
  }
}
